<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tarena.fh.mapper.MessageMapper">

    <!-- 主对象封装-->
    <resultMap id="messageRM" type="Message" autoMapping="true">
        <result property="toId" column="to_id"/>
        <result property="toName" column="to_name"/>
        <result property="fromId" column="from_id"/>
        <result property="fromName" column="from_name"/>
    </resultMap>




    <insert id="saveMessage" >
        insert into  message values (
        #{fromId},
        #{fromName},
        #{toId},
        #{toName},
        #{text},
        #{date},
        #{state}
        )
    </insert>


    <select id="findMessageOne" resultMap="messageRM">
        select * from message where to_id = #{toId}
    </select>


    <select id="findByFromAndTo"  resultMap="messageRM">
        SELECT * from message where state=0 and to_id = #{toId} and  from_id=#{fromId}
    </select>

    <update id="updateMessageState">
        update message  set  state=1  where from_id=#{fromId} and to_id = #{toId}

    </update>





</mapper>