<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tarena.fh.mapper.MessageNewMapper">

    <!-- 主对象封装-->


    <resultMap id="messageNewRM" type="MessageNew" autoMapping="true">
        <result property="fromName" column="from_name"/>
        <result property="number" column="number"/>

    </resultMap>


    <select id="findMessageNew" resultMap="messageNewRM">
        select  from_name,count(from_name) number  from
            message where
            state=0
            and
            to_id=#{toId}
            group by from_name;
    </select>



</mapper>